secrets:
  ADMIN_PASSWORD:
    file: ./secrets/admin_pw.txt
  COMMITTEE_PASSWORD:
    file: ./secrets/comitee_pw.txt

services:
  backend:
    container_name: backend
    image: backend_image
    env_file:
      - .env
    ports:
      - '3000:3000'
    secrets:
      - ADMIN_PASSWORD
      - COMMITTEE_PASSWORD
    networks:
      - election-network

networks:
  election-network:
    external: true
