secrets:
  ADMIN_PASSWORD:
    file: ./secrets/admin_pw.txt
  COMMITTEE_PASSWORD:
    file: ./secrets/committee_pw.txt
  SESSION_SECRET:
    file: ./secrets/session_secret.txt

services:
  backend:
    container_name: backend
    image: backend_image
    env_file:
      - .env
    ports:
      - '3000:3000'
    secrets:
      - ADMIN_PASSWORD
      - COMMITTEE_PASSWORD
      - SESSION_SECRET
    networks:
      - election-network
    volumes:
      - ./secrets/keys:/run/secrets/keys:ro #

networks:
  election-network:
    external: true
