secrets:
  ADMIN_PASSWORD:
    file: ./secrets/admin_pw.txt
  COMMITTEE_PASSWORD:
    file: ./secrets/committee_pw.txt
  SESSION_SECRET:
    file: ./secrets/session_secret.txt
  BALLOT_SECRET:
    file: ./secrets/ballot_secret.txt

services:
  backend:
    container_name: backend
    image: backend_image
    env_file:
      - .env
    expose:
      - 3000
    #ports:
    #  - '3000:3000'
    secrets:
      - ADMIN_PASSWORD
      - COMMITTEE_PASSWORD
      - SESSION_SECRET
      - BALLOT_SECRET
    networks:
      - frontend_net
      - backend_net
    volumes:
      - ./secrets/keys:/run/secrets/keys:ro
