services:
  waf_admin:
    image: owasp/modsecurity-crs:nginx
    container_name: waf_admin
    restart: unless-stopped
    networks:
      - admin_net
    ports:
      - '8444:8443'
    volumes:
      - ./certs:/etc/nginx/certs:ro
      - ./tmp/host-fs-auditlog.log:/var/log/modsec_audit.log
      - ./tmp/host-fs-errorlog.log:/var/log/modsec_error.log
      - ./conf.d/global_tuning.conf:/etc/nginx/conf.d/global_tuning.conf:ro
      - ./conf.d/security_logic.conf:/etc/nginx/conf.d/z_rate_limit_apply.conf:ro
    depends_on:
      - admin_frontend
    environment:
      - MODSEC_AUDIT_ENGINE=on
      - MODSEC_AUDIT_LOG=/var/log/modsec_audit.log
      - LOGLEVEL=debug
      - ERRORLOG=/var/log/modsec_error.log
      - MAX_FILE_SIZE=5000000
      - ALLOWED_METHODS=GET POST PUT DELETE
      # --- Webserver Basis ---
      - SERVER_NAME=example.de
      - BACKEND=http://admin_frontend:8081
      - PORT=8080
      - SSL_PORT=8443

      # --- SSL Hardening ---
      - SSL_CERT_FILE=/etc/nginx/certs/dev.crt
      - SSL_CERT_KEY_FILE=/etc/nginx/certs/dev.key
      - SSL_PROTOCOLS=TLSv1.2 TLSv1.3

      # --- WAF Tuning (Maximale Sicherheit) ---
      - SECURITY_ENGINE=On
      - PARANOIA=2
      - ANOMALY_INBOUND_THRESHOLD=5
      - ANOMALY_OUTBOUND_THRESHOLD=4

      # --- Nginx Limits ---
      - WORKER_CONNECTIONS=1024
      - CLIENT_MAX_BODY_SIZE=10M
