services:
  redis:
    image: redis:8.4.0-alpine
    command: >
      redis-server 
      --requirepass "${REDIS_PASSWORD}"
      --maxmemory 512mb
      --maxmemory-policy allkeys-lru
      --save ""
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    networks:
      - backend_net
    expose:
      - 6379
    ports:
      - '6379:6379' # for local development
    volumes:
      - redis_data:/data
    user: '1000:1000'
    cap_drop:
      - ALL
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 600M

volumes:
  redis_data:
