name: HKA-Elections CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  backend:
    name: Build & Test Backend
    runs-on: ubuntu-latest
    env:
      AD_URL: ldap://mockserver
      AD_USER_BIND_DN: "uid=${username},ou=students,dc=example,dc=com"
      AD_DOMAIN: EXAMPLE
      ADMIN_PASSWORD: admin123
      COMMITTEE_PASSWORD: committee123
      ADMIN_DN: cn=admin,dc=ads,dc=hs-karlsruhe,dc=de
      ADMIN_PASSWORD_LDAP: p
    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.11.0"

      - name: Cache backend node modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-backend-${{ hashFiles('backend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-backend-

      - name: Install backend dependencies
        run: npm ci
        working-directory: backend

      - name: Run backend ESLint
        run: npm run eslint
        working-directory: backend

      - name: Run backend tests
        run: npm run test
        working-directory: backend

  frontend:
    name: Build & Test Frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.11.0"

      - name: Cache frontend node modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-frontend-${{ hashFiles('frontend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-frontend-

      - name: Install frontend dependencies
        run: npm ci
        working-directory: frontend

      - name: Run frontend ESLint
        run: npm run eslint
        working-directory: frontend
